<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./indexTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"                                                
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:outputStylesheet library="css" name="default.css"/>

                <!--NAVEGACION-->
        <div class="bg-light py-3">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 mb-0"><a class="a-fontcolor" href="indexTemplate.xhtml">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Carrito</strong></div>
                </div>
            </div>
        </div>
        <!--CONTENIDO-->
        <div class="site-section">

            <div class="container">

                <div class="row mb-5">
                <form class="col-md-12">

                    <div class="site-blocks-table">
                          <!--DATATABLE-->
                    <h:form id="forConsulta"> 
                        <p:growl id="growl" showDetail="true" sticky="true" />                        
                        <h:dataTable id="tblCarrito" value="#{mbCarrito.lstAddCarrrito}" var="car"> 
                                <p:column>
                                    <f:facet name="header">Imagen Producto</f:facet> 
                                    <p:graphicImage library="imagen" name="#{car.producto.imagennombre}" style="width: 50px; height: 90px;"/>
                                 </p:column>
                               <p:column>
                                    <f:facet name="header">Nombre producto</f:facet> 
                                    <h:outputText value="#{car.producto.nombre}"/>
                                 </p:column>
                                <p:column>
                                    <f:facet name="header">Precio</f:facet> 
                                    <h:outputText value="$ #{car.producto.precioUnitario}"/>
                                 </p:column>
                                 <p:column>
                                    <f:facet name="header">Cantidad</f:facet> 
                                    <h:outputText value="#{car.cantidad}"/>
                                 </p:column>
                                 <p:column>
                                    <f:facet name="header">Total</f:facet> 
                                    <h:outputText value="$ #{car.subtotal}"/>
                                 </p:column>
                                <p:column>
                                    <f:facet name="header">ELIMINAR</f:facet> 
                                    <h:commandButton value="Eliminar" class="btn btn-outline-secondary" action="#{mbCarrito.delete(car.producto)}"/>

                                 </p:column>                            
                             </h:dataTable> 
                         </h:form>       
                  
                    </div>
              </form>
            </div>

            <div class="row">

                <div class="col-md-6">

                    <div class="row mb-5">

                        <div class="col-md-6 mb-3 mb-md-0">
                            <h:button class="btn btn-secondary btn-sm btn-block" value="Actualizar carrito"></h:button>
                        </div>

                        <div class="col-md-6">
                            <h:link outcome = "catalogo" value="Continuar comprando" class="btn btn-outline-secondary btn-sm btn-block a-fontcolor"></h:link>
                        </div>
                    </div>
              </div>

              <div class="col-md-6 pl-5">

                    <div class="row justify-content-end">

                        <div class="col-md-7">

                            <div class="row">

                            <div class="col-md-12 text-right border-bottom mb-5">

                            <h3 class="text-black h4 text-uppercase">Carrito Total</h3>
                            </div>
                        </div>
                    <!--REVISARR -->        
                    <div class="row mb-3">

                    <div class="col-md-6">
                        <span class="text-black">Subtotal</span>
                      </div>
                       
                     <div class="col-md-6 text-right">
                         <strong class="text-black">
                             <h:outputText value="#{mbCarrito.subtotalCarrito()}">
                                <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />                                                            

                             </h:outputText>
                         
                         </strong>
                      </div>
                    </div>

                    <div class="row">
                        <div class="d-grid gap-2">
                            <h:link onclick="#{mbCarrito.total()}" outcome = "pedido" value="Realizar pago" class="btn btn-secondary btn-lg py-3 btn-block">
                            </h:link>                           
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>                
    </ui:define>

</ui:composition>
