<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./indexTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"                                
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <!--NAVEGACION-->

        <div class="bg-light py-3">
            <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a class="a-fontcolor" href="indexTemplate.xhtml">Inicio</a> <span class="mx-2 mb-0 ">/</span> <strong class="text-black">Tienda</strong></div>

            </div>
          </div>
        </div>
        <!--CONTENIDO-->
        <div class="site-section">

            <div class="container">

                <div class="row mb-5">

                    <div class="col-md-12 order-2">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="float-md-left mb-4">
                                <h2 class="text-black h5">Todos</h2></div>
                            </div>
                        </div>

                        <div class="row mb-5">
                          <!--DATAGRID-->
                          
                        <h:form>
                        <p:growl id="growl" showDetail="true" sticky="true" />
                            <p:dataTable value="#{mbProducto.listProduImg}" var="producto" 
                                    style="box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);"
                                    widgetVar="wdProductos" 
                                    paginator="true" rows="2"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
                                    rowsPerPageTemplate="2,{ShowAll|'All'}"                                      
                                    filteredValue="#{mbProducto.lstProductosFiltrados}"
                                    >
                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Buscar"/>
                                            <p:inputText id="globalFilter" onkeyup="PF('wdProductos').filter()" 
                                                         placeholder="Texto a buscar" style="width: 100%;"/>
                                        </p:outputPanel>
                                    </f:facet>
                       
                                          <p:column >
                                            <p:graphicImage library="imagen" name="#{producto.imagennombre}" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; width: 150px; height: 185px;"/>
                                         </p:column>

                                        <p:column headerText="NOMBRE PRODUCTO" filterBy="#{producto.nombre}" filterMatchMode="contains">
                       

                                            <h:outputText class="fw-bold" value="#{producto.nombre}"/>
                                         </p:column>
                               
                                        <p:column>
                                            <h:outputText value="#{producto.descripcion}"/>
                                        </p:column>   

                                        <p:column headerText="PRECIO">

                                            <h:outputText value="$ #{producto.precioUnitario}"/>

                                        </p:column>
                                <p:column  filterMatchMode="exact" filterBy="#{producto.categoria.descripcion}" style="width: 200px;">
                                                <f:facet name="filter">
                                                    <p:selectOneMenu onchange="PF('wdProductos').filter()">
                                                        <f:selectItem itemLabel="CATEGORIA" itemValue="#{null}" noSelectionOption="true"/>
                                                        <f:selectItems value="#{mbCategoria.lstCategoriaDescripc}"/>
                                                    </p:selectOneMenu>

                                                </f:facet>
                                            <h:outputText value="#{producto.categoria.descripcion}"/>
                                        </p:column>
                                        <p:column>
                                            <h:commandButton  value="+ Agregar al carrito" class="btn" action="#{mbCarrito.actionAgregarProducto(producto)}" style="font-size: 10px; background: #4f45e3; color: #fff;"/>
                                       
                                        </p:column>
          
                            </p:dataTable>        
                          </h:form>                                       
                        </div>
                    </div>

            </div>       
          </div>
        </div>
        
   
        
    </ui:define>

</ui:composition>
