<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Iniciar sesion</title>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <link rel="stylesheet" href="resources/style/estilos.css" />

    </h:head>
    <h:body>
        
        <div class="container-fluid vh-100">
            
            <div style="margin-top: 50px;">
                
                <div class="rounded d-flex justify-content-center">

                    <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">

                        <div class="text-center">
                            <h2 class="indigo">Iniciar sesion</h2>

                        </div>
                        <h:form>
                            
                            <div class="p-4">
                                
                                <h:form id="frmIniciarSesion">
                                      <p:growl id="growl_modi" showDetail="true"/>

                                <h:outputLabel value="Correo electronico"/>                                                                
                                <div class="input-group mb-3">
                                    <span class="bg-primary"><i class="bi bi-person-plus-fill text-white" /></span>
                                    <h:inputText  class="form-control" value="#{mbSession.obj_Usuario.correoElectronico}"/>
                                </div>
                                    
                                <h:outputLabel value="Contraseña"/>                                
                                <div class="input-group">
                                    <span class="bg-primary"><i class="bi bi-key-fill text-white" /></span>
                                    <h:inputSecret  class="form-control" value="#{mbSession.obj_Usuario.contrasena}"/>
                                </div>
                                 <p:outputLabel value="Tipo de usuario"/>
                                 <h:selectOneMenu  class="form-control"  id="cboMarca" value="#{mbSession.obj_Usuario.tipoUsuario}"  required="true">
                                    <f:selectItem itemLabel="--Seleccionar"/>
                                    <f:selectItem itemLabel="Cliente" itemValue="Cliente" />
                                    <f:selectItem itemLabel="Administrador" itemValue="Administrador"/>
                                 </h:selectOneMenu>

                                 
                                 <h:commandButton class="btn btn-secondary mt-4" value="Ingresar" action="#{mbSession.verificarDatos()}"/>

                                <p class="text-center mt-5">¿Aun no tienes cuenta?
                                    <h:link class="a-fontcolor" value = "Registrarse" outcome = "registro"  />
                                    
                                </p>
                               
                                </h:form>
                            </div>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>

